.hero {
    margin-inline: auto;

    .contain {
        display: grid;
        align-items: center;
        margin-inline: auto;
        background-color: var(--off-white);
    }

    .content {
        grid-area: c;
    }

    .title {
        color: var(--red);
        margin-block-end: var(--gap-xs-y);
        line-height: 1;
    }

    .description {
        font-size: var(--fs-m);
        color: var(--grey-dark);
        margin-block: 0;
    }

    .image {
        grid-area: i;
        display: block;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media (--from-tablet) {
    .hero {
        .contain {
            grid-template-areas: "c i";
            align-items: center;
        }
    }
}

@media (--desktop) {
    .hero {
        max-inline-size: var(--max-width);

        .contain {
            grid-template-columns: 50% 50%;
            max-inline-size: var(--max-width);
        }

        .content {
            padding: var(--pad-l) calc(var(--pad-l) + var(--pad-s));
        }
    }
}

@media (--tablet) {
    .hero {
        .contain {
            grid-template-columns: 2fr 1fr;
        }

        .content {
            padding: var(--pad-m);
        }
    }
}

@media (--mobile) {
    .hero {
        .contain {
            grid-template-areas: "c" "i";
            max-inline-size: 100%;
        }

        .content {
            padding: var(--pad-m);
        }
    }
}